create database exs1
go
use exs1
go
/****** Object:  Table [dbo].[Drivers]    Script Date: 06.12.2021 23:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[PassportSerial] [int] NULL,
	[PassportNumber] [int] NULL,
	[PostCode] [int] NULL,
	[Address] [nvarchar](50) NULL,
	[AddressLife] [nvarchar](50) NULL,
	[Company] [nvarchar](50) NULL,
	[JobName] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Photo] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Drivers3] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06.12.2021 23:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([ID], [Name], [MiddleName], [PassportSerial], [PassportNumber], [PostCode], [Address], [AddressLife], [Company], [JobName], [Phone], [Email], [Photo], [Description]) VALUES (2, N'Kaydence Sellers', N'Susannah', 5563, 160745, 807042, N'Hyattsville, MD 20782', N'', N'Coca-Cola', N'Elementary School Teacher', N'867 7084447', N'isotopian@sbcglobal.net', N'002-cool-5.png', N'')
INSERT [dbo].[Drivers] ([ID], [Name], [MiddleName], [PassportSerial], [PassportNumber], [PostCode], [Address], [AddressLife], [Company], [JobName], [Phone], [Email], [Photo], [Description]) VALUES (3, N'Finnegan Bray', N'Brighton', 3719, 717453, 83282, N'9648 Philmont Lane', N'', N'Harley-Davidson Motor Company', N'Childcare worker', N'221 4287850', N'isaacson@att.net', N'003-happy-17.png', N'')
INSERT [dbo].[Drivers] ([ID], [Name], [MiddleName], [PassportSerial], [PassportNumber], [PostCode], [Address], [AddressLife], [Company], [JobName], [Phone], [Email], [Photo], [Description]) VALUES (4, N'Gideon Arias', N'Varian', 5810, 721066, 768289, N'Hanover Park, IL 60133', N'', N'Corona', N'Loan Officer', N'786 2747872', N'mugwump@mac.com', N'004-surprised-9.png', N'')
GO
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
INSERT [dbo].[Users] ([Login], [Password]) VALUES (N'inspector', N'inspector')
GO
USE [master]
GO
